@font-face {
   font-family: 'roboto';
   src: url(./assets/Roboto-Regular.ttf);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'roboto', sans-serif;
}

body {
   text-align: center;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url(./assets/laptop.jpg) center/cover fixed;
   color: whitesmoke;
}

h1 {
   margin: 15px auto;
}

.form-container {
   border: 2px solid rgba(12, 21, 51);
   border-radius: 25px;
   backdrop-filter: blur(6px);
   background: rgba(12, 21, 51, 0.61);
}

.form-content, .email-content {
   display: flex;
   flex-direction: column;
   width: 500px;
   margin: 0 auto;
}

.email-content {
   position: relative;
}

#wrong-email {
   display: none;
   position: absolute;
   top: -3px;
   right: 100px;
   font-size: 1.2rem;
   font-weight: 400;
}

@keyframes dongle {
   0% { right: 100px }
   10% { right: 110px }
   30% { right: 90px }
   50% { right: 110px }
   70% { right: 90px }
   90% { right: 110px }
}



input, textarea {
   margin: 10px auto;
   width: 300px;
   height: 38px;
   outline: none;
   border: none;
   border-bottom: 2px solid rgba(12, 21, 51);
   font-size: 1.2rem;
   font-weight: 600;
   background: none;
   color: whitesmoke;
}

input[type='submit'] {
   border: 2px solid whitesmoke;
   border-radius: 0px;
   margin-top: 20px;
   transition: 0.4s ease-out;
   width: 180px;
}

input[type='submit']:active {
   transform: scale(1.15);
   letter-spacing: 1px;
}

input[type='submit']:hover {
   border-radius: 50px;
}


input::placeholder, textarea::placeholder {
   color: whitesmoke;
}

textarea {
   height: 80px;
}

.form-message {
   display: flex;
   margin: 5px auto 0px;
   justify-content: center;
   width: 480px;
   height: 70px;
   font-size: 1.4rem;
}